/* styles.css */

/* Container with smooth transition */
#app-container {
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Body style for light theme */
body {
    margin: 0;  /* Remove default margin */
    font-family: Arial, sans-serif;  /* Set default font */
}

/* Light theme styles */
.light-theme {
    background-color: white;
    color: black;
}

/* Dark theme styles */
.dark-theme {
    background-color: #121212;
    color: white;
}

/* Blur effect */
.blur {
    filter: blur(4px); /* Initial blur effect */
    pointer-events: none; /* Disable pointer events when not blurred */
}

/* When the blur is removed */
.no-blur {
    filter: none; /* Remove blur */
    pointer-events: auto; /* Allow pointer events on the overlay */
}

/* Radio Button Styles */
.radio-button {
    display: inline-block;
    margin-right: 20px;  /* Space between buttons */
}

.radio-button input[type="radio"] {
    display: none;  /* Hide the default radio button */
}

.radio-button label {
    cursor: pointer;  /* Cursor pointer for better UX */
    padding: 10px 20px;  /* Add padding */
    border-radius: 5px;  /* Rounded corners */
    background-color: #e9ecef;  /* Light background */
    color: #495057;  /* Text color */
    transition: background-color 0.3s;  /* Smooth transition */
}

.radio-button input[type="radio"]:checked + label {
    background-color: #007bff;  /* Color when selected */
    color: white;  /* Text color when selected */
}

.radio-button label:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

/* General Input Styles */
.input-field {
    width: 300px; /* Width for username input */
    height: 40px; /* Height for better UX */
    font-size: 16px; /* Larger font size */
    padding: 5px; /* Padding inside the input */
    border: 1px solid #ced4da; /* Light border color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    outline: none; /* Remove default outline */
    transition: border-color 0.3s; /* Smooth border transition */
}

.input-field:focus {
    background-color: #e9ecef; /* Light background on focus */
    border-color: #007bff; /* Change border color on focus */
}

/* Depth Input Specific Styles */
.depth-input {
    width: 50px; /* Width for depth input */
}

/* Label Styles */
.input-label {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px; /* Consistent font size for labels */
}

/* Add a media query for responsiveness */
@media (max-width: 600px) {
    .input-field {
        width: 100%; /* Full width on smaller screens */
    }
}
